:host(.user) {
  flex: 0 1 auto;
  background-color: #242430;
  width: 20%;
  border-radius: 16px;
  padding: 10px;
  position: relative;
}

.user {
  &__name {
    color: #ffffff;
  }

  &__post-list {
    list-style-type: none;
    color: rgba(#ffffff, .6);
    padding: 10px;
  }

  &__post-item {
    margin-bottom: 10px;
  }

}

.action-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

}

.button {
  width: 50%;
  height: 36px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: 0;
  color: #ffffff;
  background-color: #11111d;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
}
